<ul>
    <li>{{link-to 'data' 'org.repo' 'ember.js' 'data'}}</li>
    <li>{{link-to 'website' 'org.repo' 'ember.js' 'website'}}</li>
    <li>{{link-to 'guides' 'org.repo' 'ember.js' 'guides'}}</li>
    <li>{{link-to 'ember.js' 'org.repo' 'ember.js' 'ember.js'}}</li>
    <li>{{link-to 'rfcs' 'org.repo' 'ember.js' 'rfcs'}}</li>
</ul>
{{outlet}}
