<h1>Orgs</h1>
<ul>
    <li>{{link-to 'facebook' 'org' 'facebook'}}</li>
    <li>{{link-to 'netflix' 'org' 'netflix'}}</li>
    <li>{{link-to 'yahoo' 'org' 'yahoo'}}</li>
    <li>{{link-to 'ember.js' 'org' 'ember.js'}}</li>
</ul>
{{outlet}}
